*
!install.sh
!post_install.sh
!README.md
!.gitignore
!.zshrc
!.config

!.config/dunst
!.config/dunst/*
!.config/dunst/dunstrc.d/*

!.config/hypr
!.config/hypr/*
!.config/hypr/backgrounds/*
!.config/hypr/themes/*
hypr/tinct-hyprpaper.conf

!.config/kitty
!.config/kitty/*
!.config/kitty/themes/*

!.config/tofi
!.config/tofi/*

!.config/waybar
!.config/waybar/*
!.config/waybar/themes/*

!.config/wlogout
!.config/wlogout/*
!.config/wlogout/assets/*

!.config/sddm
!.config/sddm/*

!.config/gtk-3.0
!.config/gtk-3.0/*

!.config/gtk-4.0
!.config/gtk-4.0/*
gtk-4.0/assets

!.config/qt5ct
!.config/qt5ct/*
!.config/qt5ct/colors/*

!.config/qt6ct
!.config/qt6ct/*
!.config/qt6ct/colors/*

!.sddm
!.sddm/*
!.sddm/backgrounds/*
