@import "themes/tinct.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'JetbrainsMono Nerd Font';
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: @foreground;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: @foreground;
    margin-right: 5px;
}

#workspaces button.active {
    background: alpha(@accent1, 0.7);
    color: @on-accent1;
    border-radius: 10px;
}

#workspaces button.focused {
    color: @accent1;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @warning;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: alpha(@accent1, 0.3);
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: @background;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#pulseaudio {
    border-radius: 0px 10px 10px 0px;
    margin-left: -15px;
    margin-right: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#tray > .passive {
    opacity: 0.7;
}

#tray menu {
    background: alpha(@background, 0.8);
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#clock {
    color: @foreground;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: @foreground;
    border-radius: 10px 0px 0px 10px;
}
