/* Tinct GTK3 Theme - Generated */
/* For use with adw-gtk3 theme */
/* Theme type: dark */

/* adw-gtk3/libadwaita color variables */

/* Window colors */
@define-color window_bg_color #131020;
@define-color window_fg_color #f5e0dc;

/* View colors (text fields, lists, etc) */
@define-color view_bg_color #1f1b33;
@define-color view_fg_color #f5e0dc;

/* Accent colors (interactive elements) */
@define-color accent_bg_color #ad5cd2;
@define-color accent_fg_color #000000;
@define-color accent_color #ad5cd2;

/* Headerbar colors */
@define-color headerbar_bg_color #1f1b33;
@define-color headerbar_fg_color #f5e0dc;
@define-color headerbar_backdrop_color #1a162b;
@define-color headerbar_shade_color #65607b;

/* Card/List colors */
@define-color card_bg_color #1f1b33;
@define-color card_fg_color #f5e0dc;
@define-color card_shade_color #65607b;

/* Popover/Menu colors */
@define-color popover_bg_color #1f1b33;
@define-color popover_fg_color #f5e0dc;

/* Dialog colors */
@define-color dialog_bg_color #1f1b33;
@define-color dialog_fg_color #f5e0dc;

/* Sidebar colors */
@define-color sidebar_bg_color #1a162b;
@define-color sidebar_fg_color #f5e0dc;
@define-color sidebar_backdrop_color #1a162b;
@define-color sidebar_shade_color #65607b;

/* Status colors */
@define-color warning_bg_color #e5bf4c;
@define-color warning_fg_color #000000;
@define-color warning_color #e5bf4c;

@define-color error_bg_color #d36850;
@define-color error_fg_color #000000;
@define-color error_color #d36850;

@define-color success_bg_color #30cc4d;
@define-color success_fg_color #000000;
@define-color success_color #30cc4d;

/* Destructive action colors */
@define-color destructive_bg_color #d36850;
@define-color destructive_fg_color #000000;
@define-color destructive_color #d36850;
